.header {
    padding: 26px 67px 26.72px 68px;
}

.header-mainList {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-list {
    margin-top: 37.62px;
    display: flex;
    justify-content: space-evenly;
}

.header-list__item-link {
    color: var(--gray);
    font-weight: 400;
}

.header-mainList__icons {
    display: flex;
    gap: 35px;
}

.header-mainList__logo {
    display: flex;
    gap: 116px;
    align-items: center;
}

.mobile {
    display: none;
}

@media screen and (max-width: 1359px) {
    .mobile {
        display: none;
    }

    .header {
        padding: 26px 50px 26.72px 50px;
    }

    .header-mainList__logo {
        gap: 30px;
    }
    
    .header-mainList__icons {
        display: flex;
        gap: 25px;
    }
}

@media screen and (max-width: 900px) {
    .desctop {
        display: none;
    }

    .mobile {
        display: flex;
        justify-content: space-between;
    }

    .header {
        padding: 17px 10px 12.5px;
    }
}