.showrooms {
    margin-top: 24px;
}

.showrooms-title {
    text-align: right;
    padding-right: 68px;
}

.showroom-wrapper {
    margin-top: 20px;
    padding: 0 82px 194px 78px;
    display: flex;
    flex-direction: column;
    gap: 111px;
}

.showroom {
    display: flex;
    gap: 60px;
}

.showroom-imgs {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.showroom-imgs__small {
    display: flex;
    justify-content: space-between;
}

.showroom-content {
    margin-top: 15px;
}

.showroom-content__title {
    color: #988676;
    font-size: 27px;
    font-weight: 600;
    letter-spacing: 1.35px;
}

.showroom-content__address {
    margin-top: 28px;
    color: #565859;
    text-align: justify;
    font-size: 21px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 1.05px;
}

.showroom-content__text {
    margin-top: 26px;
    max-width: 189px;
    color: #565859;
    font-weight: 500;
}


.showroom-content__time {
    max-width: 189px;
    color: #565859;
}

.showroom-content__tel {
    max-width: 189px;
    color: #565859;
}

.showroom-content__desc {
    margin-top: 16px;
    color: #565859;
}

.showroom-content__link {
    margin-top: 32px;
    display: inline-block;
    
}